<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Last Edit 2017-02-16 
	
-->
<mapper namespace="com.bluemingo.bluemingo.domain.SellerVOMapper">
	
	
    <!-- 상세페이지 detailPage -->
	<select id="listAll_select" resultType="com.bluemingo.bluemingo.domain.SellerVO">
		call seller_select(#{company_key});
	</select>

	<!-- 리스트 페이지 listAll -->
	<select id="listAll_null" resultType="com.bluemingo.bluemingo.domain.SellerVO">
		call seller_listAll();
	</select>
	
	<!-- 리스트 페이지 listAll 상단 광고 현황 조회 -->
	<select id="listAll_count" resultType="com.bluemingo.bluemingo.domain.SellerVO">
		call company_count();
	</select>
	
	<!-- 리스트 페이지 listAll 검색 -->
	<select id="search" resultType="com.bluemingo.bluemingo.domain.SellerVO">
		call seller_search(#{search_key}, #{search_table});
	</select>
    
</mapper>
    