<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- Last Edit 2017-02-16 
	
-->
<mapper namespace="com.bluemingo.bluemingo.domain.UserVOMapper">

	<!-- 회원정보 조회 -->
	<select id="search" resultType="com.bluemingo.bluemingo.domain.UserVO">
		call user_search(#{search_key});
	</select>

	<select id="procedure_insert_user" resultType="com.bluemingo.bluemingo.domain.UserVO">
		call user_create(#{user_id}, #{user_password}, #{user_name}, #{user_phone});
	</select>
	
</mapper>